.ul{
    display: flex;
    justify-content: center;
}
.li{
    list-style: none;
}
.btn{
    background-color: rgba(255, 255, 255, 0.644);
    color: black;
    border-radius: 5px;
    font-size: 1rem;
}
.btn:hover{
    transform: scale(1.2);
    background-color:white ;
    cursor: pointer;
}
.displaynone{
    display: none;
}
@media (max-width: 1000px){
    .ul{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(40px,1fr));
        max-width: 1200px;
    }
}